# ======================
# OS / Editors
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Python (Lambda)
# ======================
__pycache__/
*.py[cod]
.venv/
venv/
.env

# ======================
# Node.js (daca folosesti)
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# Terraform / IaC
# ======================
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.backup

# ======================
# AWS / Secrets
# ======================
.aws/
*.pem
*.key
secrets.*
config.json

# ======================
# Logs / Temp
# ======================
logs/
*.log
tmp/

# ======================
# Build artifacts
# ======================
dist/
build/
